
* {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    
    margin: auto;
    color: #081c2c;
    background-color: #ffffff;
}
html {
	scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

@media (min-width: 175px) {
    /* * {
        width: 100%;
    } */
    main {
        margin: 40px auto;
    }
    .header {
        font-size: 12px;
        font-weight: 400;
        width: 90%;
    }
    .header-title {
        font-size: 14px;
        font-weight: 700;
    }
    .header ul {
        display: none;
    }
    .about {
        height: 650px;
        margin: 30px auto 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-title {
        padding: 20px 0;     
        width: 90%;  
    }
    .about-subtitle {
        width: 90%;
        font-family: 'Inter', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
    }
    .about-items {
        display: flex;
        flex-direction: column;
        font-size: 34px;

        width: 100%;
        margin-right: 7%;
        margin-bottom: 30px;
    }
    .profile {
        height: 100%;
        width: 100%;
    
        background-image: url("/static/img/profile.24eea92d621f.jpg");
        filter: grayscale(90%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 0.6%;
    }
    .habilities {
        height: 420px;
        background-color: #081c2c;
    }
    .subtitle {
        padding: 50px 0 10px;
        font-size: 32px;
        width: 90%;
    }
    .black {
        background-color: #081c2c;
        color: #ffffff;
    }
    .habilities div {
        margin: 20px 0;
    }
    .habilities ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        font-size: 16px;
        background-color: #081c2c;
    }
    .habilities li {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 5px 0;
        padding: 20px;
        height: 20px;
        width: 70%;
        background-color: #0d304c;
        border-radius: 8px;
    }
    .habilities span {
        background-color: #0d304c;
        color: #FFFFFF;
    }
    .projects h1{
        margin-bottom: 40px;
    }
    .project {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        margin-bottom: 30px;
    }
    .project-item {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 3%;
    }
    .project-title {
        font-size: 24px;
        font-weight: 700;
        padding: 20px 0;
    }
    .project-description {
        font-family: 'Inter', 'sans-serif';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    .project-image {
        height: 100%;
        width: 50%;

        display: flex;
    }
    .project-image a img {
        width: 90%;
        object-fit: fill;
        border-radius: 0.2%;
    }
    .contacts {
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;

        margin-bottom: 120px;
    }
    .contacts div {
        width: 100%;
    }
    .contacts img {
        width: 30px;
        margin: 5%;
    }
}

@media (min-width: 875px) {
    * {
        width: 92%;
    }
    main {
        margin: 40px auto;
    }
    .header {
        font-size: 12px;
        font-weight: 400;
    
        display: flex;
        flex-direction: row;
    }
    .header-title {
        font-size: 14px;
        font-weight: 700;
    }
    .header ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 38%;
    }
    .about {
        height: 650px;
        margin: 30px auto 0;
        
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .about-title {
        padding: 20px 0;       
    }
    .about-subtitle {
        font-family: 'Inter', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
    }
    .about-items {
        display: flex;
        flex-direction: column;
        font-size: 34px;

        width: 74%;
        margin-right: 7%;
    }
    .profile {
        height: 100%;
        width: 100%;
    
        background-image: url("/static/img/profile.24eea92d621f.jpg");
        filter: grayscale(90%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 0.6%;
    }
    .habilities {
        height: 420px;
        background-color: #081c2c;
    }
    .subtitle {
        padding: 50px 0 10px;
        font-size: 34px;
    }
    .black {
        background-color: #081c2c;
        color: #ffffff;
    }
    .habilities div {
        display: flex;
        flex-direction: row;
        width: 38%;
        margin: 30px 0;
    }
    .habilities ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        font-size: 16px;
        background-color: #081c2c;
    }
    .habilities li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
        margin: 5px auto;
        padding: 25px;
        height: 50px;
        width: 270px;
        background-color: #0d304c;
        border-radius: 8px;
    }
    .habilities span {
        background-color: #0d304c;
        color: #FFFFFF;
    }
    .projects h1{
        margin-bottom: 60px;
    }
    .projects {
        margin-bottom: 30px;
    }
    .project {
        display: flex;
        flex-direction: row;
        align-items: center;

        height: 400px;
        width: 100%;
    }
    .project-item {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 3%;
    }
    .project-title {
        font-size: 32px;
        font-weight: 700;
        padding: 20px 0;
    }
    .project-description {
        font-family: 'Inter', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
    .project-image {
        height: 100%;
        width: 40%;
    }
    .project-image a {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .project-image a img {
        height: 95%;
        width: 100%;
        object-fit: scale-down;

        border-radius: 0.2%;
    }
    .contacts {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px 100px 90px;
    }
    .contacts div {
        width: 100%;
        height: 100%;
    }
    .contacts img {
        width: 40px;
        margin: 7% 5%;
    }
}
