
@media (min-width: 325px) { 
    main {
        margin: 30px 0 40px;
    }
    .navbar {
        font-size: 14px;
        font-weight: 400;
    
        display: flex;
        flex-direction: row;
    }
    .navbar ul {
        display: none;
    }
    .main-title {
        font-size: 16px;
        font-weight: 700;
    
        margin-left: 10px;
    }
    .about {
        height: 480px;
        margin: 60px auto 60px;

        display: flex;
        flex-direction: column;
    }
    .content {
        display: flex;
        flex-direction: column;

        height: 350px;
        width: 100%;

        font-size: 18px;
        font-family: 'Inter', sans-serif;    
    }
    .profile {
        height: 100%;
        width: 100%;
    
        background-image: url("/static/img/profile.jpeg");
        filter: grayscale(40%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.6%;

        margin: 20px 0 20px;
    }
    .habilities h4 {
        padding: 30px 30px 20px;
        color: #081c2c;
    }
    .habilities ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    
        padding: 15px;
    }
    .projects > h4 {
        padding: 30px 30px 20px;
        color: #081c2c;
    }
    .project img {
        width: 100%;
        object-fit: cover;
        border-radius: 0.5%;
        border: 1px solid #dddddd;
        opacity: 0.9;
    }
    .project span {
        width: 93%;
        font-size: 12px;
        line-height: 19px;
        padding: 15px 10px 20px 0;
    }
    .contacts {
        height: 100px;
        margin-top: 30px;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contacts a {
        width: 35px;
        margin: auto 15px;
    }
    .footer ul {
        display: none;
    }
    .footer div {
        margin: 20px 10px;
    
        font-size: 10px;
        font-weight: 700;
    }
 }

@media (min-width: 768px) { 
    main {
        margin: 30px auto 40px;
    }
    .main-title {
        font-size: 18px;
        font-weight: 700;
    
        margin-left: 60px;
    }
    .navbar {
        font-size: 14px;
        font-weight: 400;
    
        display: flex;
        flex-direction: row;
    }
    .navbar ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 40%;
    }
    .navbar li {
        padding: 12px;
    }
    .about {
        height: 600px;
        margin: 20px auto;
        
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .content {
        display: flex;
        flex-direction: column;

        height: 150px;
        width: 100%;

        font-size: 32px;
        padding: 20px;
    }
    .profile {
        height: 100%;
        width: 100%;
    
        background-image: url("/static/img/profile.jpg");
        filter: grayscale(90%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.6%;
    }
    .habilities h1 {
        padding: 50px 100px 10px;

        font-size: 32px;
        font-weight: 700;
    }
    .habilities div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        width: 25%;
        margin: 20px 70px;
    }
    .habilities ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    
        margin: 0 12px;
    }
    .habilities li {
        margin: 5px 0;
        padding: 25px;
        height: 50px;
        width: 270px;
        background-color: #0d304c;
        border-radius: 8px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .habilities li span {
        width: 30%;
        text-align: left;
    }
    .projects {
        padding: 50px 100px 10px;

        font-size: 32px;
        font-weight: 700;
    }
    .project {
        width: 100%;
        border-top: 1px solid #dddddd;
    
        display: flex;
        flex-direction: column;
    }
    .project img {
        width: 50%;
        object-fit: fill;
        border-radius: 0.5%;
        opacity: 0.9;
        margin: 0 20px;
    }
    .project span {
        width: 90%;
        font-size: 12px;
        line-height: 18px;
        padding: 15px 60px 20px 0;
    }
    .contacts {
        height: 200px;
        margin-top: 40px;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contacts a {
        width: 40px;
        margin: auto 35px;
    }
    .contacts h1 {

        padding: 50px 100px 10px;
        font-size: 32px;
        font-weight: 700;
        color: #081c2c;
    }
    .footer ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 40%;
    }
    .footer li {
        padding: 12px;
    }
    .footer div {
        margin: 30px 30px;
    
        font-size: 12px;
        font-weight: 700;
    }
}
* {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    width: 95%;
    margin: auto;
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #081c2c;
}
html {
	scroll-behavior: smooth;
}
body {
    background-color: #ffffff;
}
.main-title span {
    color: #328CD6;
    font-size: 14px;
}
.content h1 {
    color: #081c2c;

    width: 90%;
}
.content span {
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    color: #081c2c;
}
.habilities {
    height: 430px;
    background-color: #081c2c;
    border-radius: 0.2%;
    color: #ffffff;
}
.footer {
    font-size: 14px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
}