* {
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #000000;
}
h1 {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    margin: auto;
    background-color: #FFFFFF;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.my-20 {
    margin: 20px 0;
}
.ml-20 {
    margin-left: 20px;
}
.menu nav {
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
}
.menu nav ul li {
    padding: 16px;
    margin: 0 8px;
}

@media (min-width: 175px) {
    .menu nav ul {
        display: none;
    }
    .about {
        position: relative;
        height: 600px;
    }
    .about-title {
        padding: 20px 20px;
    }
    .about-subtitle {
        font-family: 'Inter', 'sans-serif';
        font-size: 16px;
        font-weight: 400;

        padding: 0 20px;
    }
    .about-items {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        width: 100%;
        margin-right: 7%;
        margin-bottom: 30px;
    }
    .profile {
        height: 60%;
        width: 100%;

        background-image: url("/static/img/profile.jpg");
        filter: grayscale(90%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 0.6%;
    }
    
    .habilities {
        height: 320px;
        background-color: #081c2c;
    }
    .subtitle {
        padding: 50px 20px 10px;
        font-size: 30px;
    }

    .black {
        background-color: #081c2c;
        color: #ffffff;
    }
    
    .habilities ul {
        display: flex;
        font-size: 12px;
        background-color: #081c2c;
    }
    .habilities ul li:first-of-type {
        margin-right: 16px;
    }
    .habilities li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 10px 10px;
        padding: 25px;
        width: 100%;
        background-color: #0d304c;
        border-radius: 8px;
    }
    .habilities span {
        background-color: #0d304c;
        color: #FFFFFF;
    }

    .projects h1{
        margin-bottom: 40px;
    }
    .project {
        display: flex;
        flex-direction: column;

        position: relative;

        width: 100%;
        margin-bottom: 70px;
    }
    .project-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 3%;
    }
    .project-title {
        font-size: 24px;
        font-weight: 700;
        padding: 20px 0;
    }
    .project-description {
        font-family: 'Inter', 'sans-serif';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    .project-image {
        width: 100%;

        display: flex;
    }
    .project-image a img {
        width: 90%;
        object-fit: contain;
        border-radius: 0.2%;
    }

    .contacts {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .contacts img {
        width: 30px;
        margin: 5%;
    }
} 

@media (min-width: 575px) {
    .menu {
        font-size: 12px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
    }
    .header-title {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
    }
    .menu nav ul {
        display: flex;
        margin-left: auto;
        padding-top: 10px;
    }
    .about {
        position: relative;
        height: 800px;
    }
    .about-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .about-title {
        padding: 20px 0;       
    }
    .about-subtitle {
        font-family: 'Inter', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
        padding: 0;
    }
    .about-items {
        display: flex;
        flex-direction: column;
        font-size: 34px;
        width: 50%;
        margin-right: 7%;
    }
    .profile {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 50%;
        background-image: url("/static/img/profile.jpg");
        filter: grayscale(90%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 0.6%;
    }

    .habilities {
        height: 320px;
        background-color: #081c2c;
    }
    .subtitle {
        padding: 50px 0 10px;
        font-size: 34px;
    }
    .black {
        background-color: #081c2c;
        color: #ffffff;
    }
    .habilities ul {
        display: flex;
        font-size: 16px;
        background-color: #081c2c;
    }
    .habilities ul li:first-of-type {
        margin-right: 16px;
    }
    .habilities li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 5px auto;
        padding: 25px;
        width: 100%;
        background-color: #0d304c;
        border-radius: 8px;
    }
    .habilities span {
        background-color: #0d304c;
        color: #FFFFFF;
    }

    .projects h1{
        margin-bottom: 60px;
    }
    .projects {
        margin-bottom: 30px;
    }
    .project {
        display: flex;
        flex-direction: row;
        align-items: center;

        height: 400px;
        width: 100%;
        margin-bottom: 15px;
    }
    .project-item {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 3%;
    }
    .project-title {
        font-size: 32px;
        font-weight: 700;
        padding: 20px 0;
    }
    .project-description {
        font-family: 'Inter', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
    .project-image {
        height: 100%;
        width: 40%;
    }
    .project-image a {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .project-image a img {
        height: 95%;
        width: 100%;
        object-fit: scale-down;
        border-radius: 0.2%;
        margin: 10px 0;
        margin-left: 30px;
        margin-right: 0;
    }
  
    .contacts {
        width: 100%;
        display: flex;
        flex-direction: column; 
        margin-bottom: 100px;
    }
    .contacts .container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .contact-links {
        width: 50%;
        margin: 16px auto;
    }
    .contacts img {
        width: 40px;
    }
}
