
@media (min-width: 576px) { 

    .about {
        height: 600px;
        margin: 40px auto 50px;
        
        display: flex;
        flex-direction: row;
        align-items: center;
    }
 }

@media (min-width: 768px) { 
    .about {
        height: 600px;
        margin: 40px auto 50px;
        
        display: flex;
        flex-direction: row;
        align-items: center;
    }
 }


* {
    font-family: 'Inter', sans-serif;
    font-weight: 700;

    width: 95%;
    margin: auto;

    color: #2f6d9f;
}
a {
    text-decoration: none;
    color: #081c2c;
}
html {
	scroll-behavior: smooth;
}
body {
    background-color: #ffffff;
}
main {
    margin: 30px auto 40px;
}
.main-title {
    font-size: 18px;
    font-weight: 700;

    margin-left: 60px;
}
.main-title span {
    color: #328CD6;
    font-size: 14px;
}
.navbar {
    font-size: 14px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 40%;
}
.navbar li {
    padding: 12px;
}
.content {
    display: flex;
    flex-direction: column;

    height: 180px;
    width: 100%;

    font-size: 20px;
    padding: 20px;
}
.content h1 {
    color: #081c2c;
}
.profile {
    height: 100%;
    width: 100%;

    background-image: url("/static/img/profile.jpeg");
    filter: grayscale(40%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.6%;
}
.projects {
    border: 1px solid #328cd691;
    box-shadow: 2px 2px #328cd691;
    color: #FFFFFF;
    border-radius: 0.2%;

    margin-bottom: 50px;
}
.projects > h4 {
    padding: 40px 50px;
    color: #081c2c;
}
.project {
    width: 100%;

    display: flex;
    flex-direction: column;
}
.project img {
    width: 80%;
    object-fit: cover;
    border-radius: 0.5%;
    border: 1px solid #dddddd;
    opacity: 0.9;
    margin: 0 20px;
}
.project span {
    width: 90%;
    font-size: 12px;
    line-height: 18px;
    padding: 15px 60px 20px 0;
}
.habilities {
    height: 275px;
    border: 1px solid #328cd691;
    box-shadow: 2px 2px #328cd691;
    border-radius: 0.2%;
    margin-bottom: 50px;
}
.habilities h4 {
    padding: 40px 50px;
    color: #081c2c;
}
.habilities ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 14px;

    padding: 0;
}
.habilities li {
    padding: 5px;
}
.contacts {
    height: 200px;
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contacts a {
    width: 40px;
    margin: auto 35px;
}
.footer div {
    margin: 30px 30px;

    font-size: 12px;
    font-weight: 700;
}
.footer {
    font-size: 14px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
}
.footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 40%;
}
.footer li {
    padding: 12px;
}