{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block main %}
<main>
  <section class="navbar">
    <div class="main-title">
      <span>{</span>
      <a href="#"> TalisCipriani </a>
      <span>}</span>
    </div>
    <ul>
      <li>
        <a href="#about">
          About
        </a>
      </li>
      <li>
        <a href="#projects">
          Projects
        </a>
      </li>
      <li>
        <a href="#contacts">
          Contacts
        </a>
      </li>
    </ul>
  </section>

  <section id="about" class="about">
    <div class="content">
      <h1>Olá, sou Talis Cipriani</h1>

      <span>Teste talis desenvolve varios plataforma e coisa de nao sei o que quando precisa chama nois</span>
    </div>
    <div class="profile"></div>
  </section>

  <section id="habilities" class="habilities">
    <h1>
      My skills
    </h1>

    <div>
      <ul>
        <li>
          <span>Backend Development</span>
          <span></span>
        </li>
        <li>
          <span>Frontend Development</span>
          <span></span>
        </li>
      </ul>
      <ul>
        <li>
          <span>Mobile Development</span>
          <span></span>
        </li>
        <li>
          <span>Performance</span>
          <span></span>
        </li>
      </ul>
    </div>
  </section>

  <section id="projects" class="projects">
    <h4>
      My best projects
    </h4>
    {% for project in projects %}
    <div class="project">
      <span>
        <h3>- {{ project.description }}</h3>
      </span>

      <a href={{ project.link }} target="_blank">
        <img src={{project.image}} alt={{project.description}}>
      </a>

      <span>
        <h4>{{ project.text }}</h4>
      </span>
    </div>

    <br>
    <br>
    <br>
    {% endfor %}
  </section>

  <section id="contacts" class="contacts">
    <h1>My contacts</h1>

    <a href="https://github.com/theTalis" target="_blank">
      <img src="/static/img/github.png" alt="Github">
    </a>

    <a href="mailto:cipriani.talis@gmail.com" target="_blank">
      <img src="/static/img/email.png" alt="Email">
    </a>

    <a href="https://www.linkedin.com/in/talis-eduardo-cipriani-aa725391/" target="_blank">
      <img src="/static/img/linkedin.png" alt="Linkedin">
    </a>

    <a href="https://medium.com/@cipriani.talis" target="_blank">
      <img src="/static/img/medium.png" alt="Medium">
    </a>
  </section>

  <section class="footer">
    <div>
      Copyright 2022. Talis Cipriani - Fullstack Developer
    </div>

    <ul>
      <li>
        <a href="#about">
          About
        </a>
      </li>
      <li>
        <a href="#projects">
          Projects
        </a>
      </li>
      <li>
        <a href="#contacts">
          Contacts
        </a>
      </li>
    </ul>
  </section>
</main>
{% endblock %}
