{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block main %}
<main>
  <header class="navbar">
    <ul>
      <li>
        <a href="#about">
          About
        </a>
      </li>
      <li>
        <a href="#projects">
          Projects
        </a>
      </li>
      <li>
        <a href="#contacts">
          Contacts
        </a>
      </li>
    </ul>
  </header>

  <div id="about">
    <img src="/static/img/profile.jpeg" alt="Profile image">

    <div class="title">
      <h1>Talis Eduardo Cipriani</h1>

      <h3>Teste talis desenvolve varios plataforma e coisa de nao sei o que quando precisa chama nois</h3>
    </div>
  </div>

  <div id="projects">
    <div class="project">
      <img src="/static/img/banking.png" alt="T2 Banking">

      <div>
        <h4>projecto coisado bastante trabalho coisa e tal e vai e tome e adwojdpoajwdoajwdoijawdojawd</h4>
        <br>
        <h4>apowkdpaokwd pawokdpaowkdapowkdp aokwd paokwd paokwd poawk</h4>
      </div>
    </div>

    <div class="project">
      <img src="/static/img/aplicativo.png" alt="Crediario digital">

      <div>
        <h4>projecto coisado bastante trabalho coisa e tal e vai e tome e adwojdpoajwdoajwdoijawdojawd</h4>
        <br>
        <h4>apowkdpaokwd pawokdpaowkdapowkdp aokwd paokwd paokwd poawk</h4>
      </div>
    </div>
  </div>

  <div id="contacts">
    <a href="https://github.com/theTalis" target="_blank">
      <img src="/static/img/github.png" alt="Github">
    </a>

    <a href="mailto:cipriani.talis@gmail.com" target="_blank">
      <img src="/static/img/email.png" alt="Email">
    </a>

    <a href="https://www.linkedin.com/in/talis-eduardo-cipriani-aa725391/" target="_blank">
      <img src="/static/img/linkedin.png" alt="Linkedin">
    </a>

    <a href="https://twitter.com/CiprianiTalis" target="_blank">
      <img src="/static/img/twitter.png" alt="Twitter">
    </a>
  </div>

  <footer>
    Copyright 2022. Talis Cipriani - Fullstack Developer
  </footer>
</main>
{% endblock %}
